<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lamoda: Заглушки</title>
    <meta charset="utf-8">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/jquery-2.2.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/mock.js"></script>
</head>
<body class="main">
    <div id="informer-alert" style="display: none;" class="alert alert-dismissible alert-danger">
        <img src="images/dead.png" width="30px" height="30px">
        <button type="button" class="close" data-dismiss="alert">X</button>
        <strong>О чёрт! Произошла ошибка!</strong> <a name="refresh-button" href="#" class="alert-link">Перезагрузите страницу</a>, может быть это поможет.
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" name="switch">
            <label for="cmn-toggle-1"></label>
            <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round red" type="checkbox" name="switch">
            <label for="cmn-toggle-2"></label>
            <a id="cln-log" class="btn btn-danger">Очистить лог</a>
            <a id="show-bindings" class="btn btn-primary">Эмулируемые сервисы</a>
            <a id="show-templates" class="btn btn-default">Шаблоны ответов</a>
            <a name="refresh-button" href="#" class="btn btn-info">Обновить страницу</a>
            <ul id="requests" class="nav nav-pills">
                <li><a href="#">Запросов обработано <span id="requests-served" class="badge">x</span></a></li>
                <a id="server-shutdown" class="btn btn-default" href="/shutdown">Shutdown</a>
            </ul>
        </div>
    </div>
    <div id="bindings" style="display: none">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>EP-mock</th>
                    <th>template</th>
                    <th>proxy-to</th>
                    <th>XPATH XML</th>
                    <th>service</th>
                    <th>format</th>
                </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row["service"] }}/{{ row["sid"] }}</td>
                    <td>{{ row["template"] }}</td>
                    <td>{{ row["ep_proxy"] }}</td>
                    <td>{{ row["namespace"] }}</td>
                    <td>{{ row["service"] }}</td>
                    <td>{{ row["type"] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="events-wrapper" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Время старта текущего worker: <span id="uptime">&nbsp;</span></h3>
        </div>
        <div class="panel-body" style="padding: 0;">
            <table id="events" class="table table-bordered table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Время</th>
                        <th>Сервис &frasl; Endpoint</th>
                        <th>Шаблон</th>
                        <th>Сообщение</th>
                        <th>Запрос</th>
                        <th>Ответ</th>
                        <th>Эмуляция</th>
                        <th>HTTP ответ</th>
                        <th>Тип</th>
                    </tr>
                </thead>
                <tbody id="event-log"></tbody>
            </table>
        </div>
    </div>
    <!-- https://bootswatch.com/spacelab : template theme -->
</body>
</html>