button {
    margin: 0 auto;
    vertical-align: top;
    display: inline-block;
    border:1px solid #BFBFBF;
    color: #8C8C8C;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    font-family: Verdana, sans-serif;
    width: auto;
    height: auto;
    font-size: 18px;
    padding: 2px 15px;
    background-color: #FCFAF9;
}

button:hover, button:active {
    border:1px solid #BFBFBF;
    color: #8C8C8C;
    background-color: #E8E8E8;
}

div#bindings > table > thead > tr > th {
    text-transform: uppercase;
}

.main {
    margin: 10px;
}

.controls {
    height: 35px;
    display: block;
    padding-left: 5px;
    margin: auto;
}

ul.controls > li {
    text-align: left;
    display: inline;
}

.state {
    display: inline;
    float: left;
    margin: 0;
}

.log {
    font-family: "Courier New", courier, monospace;
    font-size: 12px;
    display: block;
    background-color: whitesmoke;
    border-radius: 4px;
    border: 1px solid darkgrey;
    padding: 5px 5px 5px 8px;
    margin: 5px auto;
}

.form {
    display: inline;
    float: left;
    margin-right: 2px
}

span#uptime {
    color: #000000;
    display: inline-block;
    padding: 5px;
    background: #FFA500;
    margin: 0;
}

ul#requests {
    vertical-align: middle;
    display: inline-block;
    float: right;
}

ul#requests > li {
    display: inline-block;
}

tbody#event-log > tr > td {
    padding: 6px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 30px;
    vertical-align: middle
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
    vertical-align: middle;
}

input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 30px;
    transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
    width: 29px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
    background-color: #65e168;
}

input.cmn-toggle-round.red:checked + label:before {
    background-color: #ff8888;
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 30px;
}